In [1]:
x = 5
y = 7
x > y

False

In [2]:
x < y

True

In [3]:
x >= y

False

In [5]:
x <= y

True

In [6]:
x == y

False

In [7]:
x != y

True

In [8]:
name = "Jason"

In [10]:
"J" in name

True

In [15]:
name = "Jason Statham"
"Jason" in name

True

In [16]:
name = "Jason Statham"
sub_name = "Jason" 
sub_name in name

True

In [17]:
numbers = [1,2,3,4,5]
1 in numbers

True

In [18]:
11 in numbers

False

In [11]:
my_str = "jjjaaa bbbb"

In [12]:
my_str.count("j")

3

In [13]:
my_str.count("ja")

1

In [20]:
grades = [12,14,15.6,18]
if 20 in grades:
    print("You got complete mark in at least one of your lessons!")

In [21]:
grades = [12,14,15.6,18,20]
if 20 in grades:
    print("You got complete mark in at least one of your lessons!")

You got complete mark in at least one of your lessons!

In [24]:
x = 8
y = 7
if x>y:
    print("X is bigger than Y")
print("Code is running here")

X is bigger than Y
Code is running here

In [26]:
my_grades = [12.3 , 17 , 19 , 14 ]
if 20 in my_grades:
    print("I got the complete mark in one of my lessons!")
else:
    print("I didn't get any complete mark this term!")
print("hey")

I didn't get any complete mark this term!

In [27]:
greeting = "Welcome"

if "Python" in greeting:
    print("The course is about Python!")
elif "C++" in greeting:
    print("The course is about C++!")
else:
    print("I don't know what the course is about

I don't know what the course is about.

In [30]:
name = "Amir"
age = 18

In [31]:
if name == "Amir":
    if age == 17:
        print("Hey you are amir and you are 17")
    else:
        print("You are amir but you are not 17")

You are amir but you are not 17

In [32]:
name == "Amir" and age == 17

False

In [33]:
name == "Amir" or age == 17

True

1 3 5 7 9 11

In [ ]:
arr = input()
arr2 = int(arr)