# While Loops
**Task 1**: Using a while loop, display numbers in range of 1 to 10 (including 1 and 10).

In [ ]:
#Task1
#Code Here

**Task 2**: Using a while loop, code two different programs to display even numbers in range of 0 to 10 (including 0 and 10).

_Hint:_ you can use _break._

In [ ]:
#Task2
#Code Here

In [ ]:
#Task2
#Code Here

**Simple Iteration**

**Task 3:** Using a while loop, display all the elements in the given list in seperate lines.

_Hint:_ you can use _len()_ funtion.

In [ ]:
myList = [{"Name" : "Jake"} , {"Age" : "16"} , "I Love Python!!" , [1,2,3] , (1,2) , 1.1]
#Task3
#Code Here

**Run-Time Error**

Jake is trying to display his classmates grades in seperate lines. He has made the list and coded his program but there are some errors. Help him debug the code and then fix the code.

**Task 4:** Explain the code below and what happens when you run it and fix the bugs.

_Hint:_ If you run a program that enters an infinite loop, you can force Python to quit by pressing Ctrl+C. To stop the program in Jupyter Notebook, go to Kernel ->  Restart & Clear Output.

In [ ]:
#Task4
Grades = [{"Name" : "Jake" , "Grade" : "B+"} , {"Name" : "Leo" , "Grade": "A-"} , 
          {"Name": "Olivia", "Grade" : "A+"} , {"Name" :"Ruby", "Grade": "D+"}]
i = 0
while i <= len(Grades):
    Grade = Grades[i]
    print ("{} Got the Grade of ".format(Grade['Name']) , end = "")
    print ("{}".format(Grade['Grade']))

**Task 5:** Using a while loop, code a program in which you can get unlimited integers and for each integer, 
- if the number is odd, display "The number is odd!".
- if the number is even, display "The number is even!".

_Bonus:_ Change the program so that the loop ends when the input is 'e'.

In [ ]:
#Task5
#Code Here

**Task 6:** Using a while loop, code a program in which you can get unlimited numbers each representing a Celsius degree, and for every number, display the converted degree to Fahrenheit in each line.

In [ ]:
#Task6
#Code Here

# For Loops - Iteration
**Task 7:** Print all the squares of the numbers of the given list and all the square root the given tuple in seperate lines.

In [ ]:
myList = [1.2 , 0 , 4 , 22 , -2 , 3]
myTuple = (-3 , 1 , 2 , 3 , 0)
#Task7
#Code Here

**Task 8:** Using a for loop and iteration, determine whether or not there's one or more 'h' in the string below.
- if this letter could be found, display "The letter was founded" otherwise display "The letter not found"

In [ ]:
Greeting = "Welcome Welcome to our Python Course!"
#Task8
#Code Here

Jake has entered his classmate's names and grades to a dictionary in Python (names are the keys and grades are the values). Now he wants to write a program that gets a name and determines whether or not the name has been found in the dictionary. if the name is found, then the grade belonging to the name must be displayed. Otherwise another message appears that declares this name hasnt been entered yet!

**Task 9:** Help Jake code this program, using a for loop and iteration,
- if the name is not found, then display "No grade has been registered for this name."
- if the name is found, then display "{Entered_name} has got the grade of {Grade}."


**Input Format:** 
- the first line contains the entered name (string).

_Please note_ that the person's name starts with a capital letter and other letters are small.

In [ ]:
grades = {"Amy" : "B" , "Brian" : "C+" , "Charles" : "B-" , "Celia" : "C-" , "Jake" : "B+" , "Justin" : "D" ,"Olivia" : "A" , "Riley" : "D-" , "Sam" : "B+" , "Tara" : "A" , "Umar" : "C+" , "Zoe" : "B"}
#Task9
#Code Here

# Nested Loops
**Task 10:** In every tuple in the given list below, there's a character 'f' or 'c' which determines the number in that tupple is whether in Fahrenheit or Celsius respectively. using nested loops, if the temperature is declared in Celsius, convert it to Fahrenheit and display it and if the temperature is in Fahrenheit, convert it to Celsius and display it.

In [ ]:
myList = [('c' , 12) , ('c' , 70) , ('c' , -1) , ('c' , 13) , ('f' , 100) , ('f' , 70) , ('f' , 10) , ('f' , 32)]
#Task10
#Code Here

# For Loops - range
**Task 11:** Using range function and a for loop, code two different programs to display odd numbers in range of 0 to 11 (including 0 and 11).

In [ ]:
#Task11
#Code Here

In [ ]:
#Task11
#Code Here

**Task 12:** Using range function and a for loop, display every character in the given name in seperate lines.

In [ ]:
Name = "Jacob"
#Task12
#Code Here

# Nested Loops
**Task 13:** Using range function and nested for loops, display the sequence of the numbers below to n = 10.

0

1 0

2 1 0

3 2 1 0

4 3 2 1 0

5 4 3 2 1 0

6 5 4 3 2 1 0

in this example we have gone far till n = 6.

_Hint:_ To print "1 0" in one line, you can also do this 

print(1 , end = " ")

print(0 , end = " ")

In [1]:
#Task13
#Code Here