So far we have learned about different data types such as lists and tuples.
Now we want to learn about a new data structure called dictionary.

Dictionaries are similar to lists, both are dynamic, both are mutable and both can be nested.
However, dictionaries differ from lists in the way items are accessed:<br>
>In lists items are accessed via indexing.<br>
>   In dictionaries items are accessed via keys. <br> 

We work with pairs of keys:values in dictionaries.

In [1]:
#ways of defining a dictionary:

d = {
    'Russia': 'Moscow',
    'Germany':'Berlin',
    'Japan':'Tokyo',
    'Spain': 'Madrid'
}

d = dict([ ('Russia', 'Moscow'),
         ('Germany', 'Berlin'),
         ('Japan', 'Tokyo'),
         ('Spain', 'Madric')])


d = dict(Russia='Moscow', 
         Germany='Berlin',
         Japan='Tokyo',
        Spain='Madrid')

In [2]:
type(d)

dict

In [3]:
#acessing dictionary values
d['Russia']

'Moscow'

In [4]:
d['Japan']

'Tokyo'

In [3]:
d['italy']

'Milan'

In [2]:
#adding or updating an entry:
d['italy'] = 'Milan'

In [4]:
d['italy']
print(d)

{'Russia': 'Moscow', 'Germany': 'Berlin', 'Japan': 'Tokyo', 'Spain': 'Madrid', 'italy': 'Milan'}

In [5]:
#deleting an entry
del(d['italy'])
print(d)

{'Russia': 'Moscow', 'Germany': 'Berlin', 'Japan': 'Tokyo', 'Spain': 'Madrid'}

In [7]:
#building an dictinary incrementally
dic = {}
type(dic)

dict

In [8]:
dic['Ali']=18
dic['Reze'] = 21
dic["Hasan"] = 17
dic

{'Ali': 18, 'Reze': 21, 'Hasan': 17}

In [12]:
dic = {1:'aaa', 'b':'ccsds', True:64}

In [15]:
#restrictions on dictionary keys
#no duplicate keys
#keys should be immutable

In [16]:
d = {
    'Russia': 'Moscow',
    'Germany':'Berlin',
    'Japan':'Tokyo',
    'Spain': 'Madrid'
}

In [17]:
len(d)

4

In [30]:
#merging two dictionaries
d1 = {'a': 20, 'b': 30, 'c': 40}
d2 = {'d': 50, 'e':60}

d1.update(d2)
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 50, 'e': 60}

In [18]:
'Russia' in d

True

In [19]:
'India' in d

False

In [20]:
#Built-in dictionary methods
d.clear()

In [9]:
d.get('Spain', 'Not found')

'Madrid'

In [10]:
d.get('India', 'Not Found')

'Not Found'

In [24]:
d.items()

dict_items([('Russia', 'Moscow'), ('Germany', 'Berlin'), ('Japan', 'Tokyo'), ('Spain', 'Madrid')])

In [25]:
d.keys()

dict_keys(['Russia', 'Germany', 'Japan', 'Spain'])

In [26]:
d.values()

dict_values(['Moscow', 'Berlin', 'Tokyo', 'Madrid'])

In [ ]:
#iterating through dictionaries

In [31]:
d = {
    'Russia': 'Moscow',
    'Germany':'Berlin',
    'Japan':'Tokyo',
    'Spain': 'Madrid'
}

In [32]:
#iterating directly thorough keys
for key in d:
    print(key)

Russia
Germany
Japan
Spain

In [34]:
#iterating with keys() 
for key in d.keys():
    print(key)

Russia
Germany
Japan
Spain

In [35]:
d.values()

dict_values(['Moscow', 'Berlin', 'Tokyo', 'Madrid'])

In [36]:
#iterating through values
for val in d.values():
    print(val)

Moscow
Berlin
Tokyo
Madrid

In [37]:
#tuple unpacking review
x,y = (2,3)
print(x)
print(y)

2
3

In [38]:
d.items()

dict_items([('Russia', 'Moscow'), ('Germany', 'Berlin'), ('Japan', 'Tokyo'), ('Spain', 'Madrid')])

In [42]:
for item in d.items():
    print(item)

('Russia', 'Moscow')
('Germany', 'Berlin')
('Japan', 'Tokyo')
('Spain', 'Madrid')

In [43]:
for key,value in d.items():
    print(key, '->', value)

Russia -> Moscow
Germany -> Berlin
Japan -> Tokyo
Spain -> Madrid

In [48]:
#real world examples
sales_data = {'laptop':300000, 'phone': 250000, 'tablet':100000, 'headphone': 80000}

In [49]:
new_data = {}
for key, value in sales_data.items():
    if value >= 150000:
        new_data[key] = value
        
new_data

{'laptop': 300000, 'phone': 250000}

In [50]:
total_sale = 0
for value in sales_data.values():
    total_sale += value
    
print(total_sale)

730000