Tuples

Tuples are collection of data which are ordered, immutable and allow duplicates.

In [27]:
my_tuple = ("Nissan", "Ford", "Volkswagen")

my_tuple = "Nissan", "Ford", "Volkswagen"

In [5]:
#tuples are indexed:
my_tuple[0]

'Nissan'

In [6]:
my_tuple[1]

'Ford'

In [7]:
#tuples can be sliced:
print(my_tuple[1:])

('Ford', 'Volkswagen')

In [8]:
#tuples are immutable:
my_tuple[0] = 'BMW'

TypeError: 'tuple' object does not support item assignment

In [9]:
#sorting a tuple
my_tuple = (5,7,-3,2)
sorted_tuple =  sorted(my_tuple)
print(sorted_tuple)

[-3, 2, 5, 7]

In [10]:
my_tuple = (2,2,3,4,5,4,4,4,6,7)

In [11]:
print(my_tuple.count(2))

2

In [12]:
print(my_tuple.count(4))

4

In [13]:
print(len(my_tuple))

10

In [14]:
#adding tuples
a = (1,2,3)
b = (4,5,6)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6)

In [15]:
#tuples are iterable
my_tuple = ("Nissan", "Ford", "Volkswagen")
for item in my_tuple:
    print("Your car brand is:", item)

Your car brand is: Nissan
Your car brand is: Ford
Your car brand is: Volkswagen

In [16]:
#tuple unpacking:
fruits = ('apple', 'banana')
a,b = fruits
print(a)
print(b)

apple
banana

In [17]:
fruits = ('apple', 'banana', 'cherry')
a,b,c = fruits
print(a)
print(b)
print(c)

apple
banana
cherry

In [18]:
sale_info = [('apple', 15), ('banana', 10), ('cherry', 30)]

In [19]:
for info in sale_info:
    print('You sold', info[1], info[0])

You sold 15 apple
You sold 10 banana
You sold 30 cherry

In [21]:
for fruit, number in sale_info:
    print('You sold', number, fruit)

You sold 15 apple
You sold 10 banana
You sold 30 cherry

In [22]:
def get_info():

    fruit = 'apple'
    quantity = 120
    
    return (fruit, quantity)

In [23]:
a, b = get_info()
print(a)
print(b)

apple
120