In [1]:
x = 5
y = 7
x > y

False

In [2]:
x < y

True

In [3]:
x >= y

False

In [5]:
x <= y

True

In [6]:
x == y

False

In [7]:
x != y

True

In [8]:
name = "Jason"

In [10]:
"J" in name

True

In [15]:
name = "Jason Statham"
"Jason" in name

True

In [16]:
name = "Jason Statham"
sub_name = "Jason" 
sub_name in name

True

In [17]:
numbers = [1,2,3,4,5]
1 in numbers

True

In [18]:
11 in numbers

False

In [11]:
my_str = "jjjaaa bbbb"

In [12]:
my_str.count("j")

3

In [13]:
my_str.count("ja")

1

In [20]:
grades = [12,14,15.6,18]
if 20 in grades:
    print("You got complete mark in at least one of your lessons!")

In [ ]:
grades = [12,14,15.6,18,20]
if 20 in grades:
    print("You got complete mark in at least one of your lessons!")