In [1]:
a = 5
b = 8

In [2]:
if a > 5 and b < 10:
    print("")

In [3]:
not (False)

True

In [4]:
not (True)

False

In [5]:
a  = 7

In [6]:
if a > 7:
    print("a")

In [7]:
if not a>7:
    print("a")

a

In [8]:
i = 1

In [9]:
i = i + 1
i += 1

In [11]:
i = i - 1
i -= 1

In [ ]:
i = i * 2
i *= 2

In [10]:
i

2

In [12]:
user_input = input()

567

In [13]:
print(user_input)

567

In [14]:
type(user_input)

str

In [ ]:
user_input

In [15]:
number = int(user_input)

In [16]:
type(number)

int

In [17]:
number + 5

572

In [18]:
user_input = input()

fjsd;fjwi

In [19]:
number = int(user_input)

ValueError: invalid literal for int() with base 10: 'fjsd;fjwi'

In [20]:
number = 2.78

In [21]:
str_number = str(number)

In [22]:
type(str_number)

str

In [23]:
str_number

'2.78'

In [24]:
name = "James Bond"

In [25]:
list(name)

['J', 'a', 'm', 'e', 's', ' ', 'B', 'o', 'n', 'd']

In [28]:
my_list = [1,2,4,5,"hello", True]
my_list

[1, 2, 4, 5, 'hello', True]

In [27]:
str(my_list)

"[1, 2, 4, 5, 'hello', True]"

In [ ]:
int()
str()
list()

float()

bool()

In [29]:
user_input = input()

2.88

In [30]:
number = int(user_input)

ValueError: invalid literal for int() with base 10: '2.88'

In [31]:
number = float(user_input)

In [32]:
number

2.88

In [33]:
type(number)

float

In [42]:
number = 4

In [43]:
bool(number)

True

In [ ]:
my_list = [1,2,3,4,5]

In [52]:
10 in range(2,10)

False

In [50]:
next(m)

TypeError: 'range' object is not an iterator

In [53]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [54]:
name = "My name"

In [56]:
for i in range(0,len(name)):
    print(name[i])

M
y

n
a
m
e

In [55]:
for char in name:
    print(char)

M
y

n
a
m
e